$primary-color: #181823;
$secundary-color: #A10035;
$terciary-color: #FEC260    ;
$gray-light: #EEEEEE;    
$gray-dark: #73777B;    

$font-small: 1rem;
$font-medium: 1.6rem;
$font-big: 2.2rem;
$font-big-2: 2.8rem;